---
title: wishlist
layout: default
permalink: /wishlist/
---
<p>
Далеко не всё из этого мне необходимо, но я однозначно буду рад любому пункту
списка. Буду очень признателен, если вы просто посоветуете что-то
более интересное, удобное, практичное, чем найденное мной или ненайденное
вовсе. Или вытащите меня в место обитания какого-либо из пунктов.
</p>

<ol>
  {% for wish in site.data.wishlist %}
    {% unless wish.performer %}
    <li>
      <a href="{{ wish.url }}">{{ wish.name }}</a> --- {{ wish.description | safe}}
      <!-- <img src="{{ wish.image }}"> -->
    </li>
    {% endunless %}
  {% endfor %}
</ol>

<ol>
  {% for wish in site.data.wishlist %}
    {% if wish.performer %}
    <li>
      <strike>
        <a href="{{ wish.url }}">{{ wish.name }}</a> --- {{ wish.description }}
      </strike>
      <br>
      {{ wish.performer }} made that dream true :blush:
    </li>
    {% endif %}
  {% endfor %}
</ol>
